@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

:root {
    /* colors */
    --deep-blue: #3b82f6;
    --light-blue: #dbeafe;
    --yellow: #facc15;
    --white: #fafafa;
    --light-gray: #525252;
    --black: #0a0a0a;
}

img {
    width: 50px;
    height: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}
body {
    width: 100%;
}