/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap'); */

:root {
    /* colors */
    --deep-blue: #3b82f6;
    --light-blue: #dbeafe;
    --yellow: #facc15;
    --white: #fafafa;
    --light-gray: #525252;
    --black: #0a0a0a;
}

img {
    width: 50px;
    height: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}
ul li {
    list-style: none;
}
body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(7, 100px);
    height: 100vh;
}

#header {
    display: grid;
    grid-template:50px 30px / 1fr;
    height: 195px;
    grid-column: 2 / 6;
    grid-row: 1 / 3;
    padding: 1em 2em;
    box-shadow: 3px 4px 3px  rgb(199, 197, 197);

}

#header .first-container {
    grid-column: 1;
    grid-row: 1 / 2;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 4fr 50px 100px 100px ;
    align-items: center;
    text-align: center;
    padding: 0 1em;
}

#header .second-container {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 70px 5fr auto auto auto ;
    align-items: center;
    gap: 15px;
    padding: 1em 2em;
}

.first-container img{
    width: 25px;
    height: auto;
}

.first-container .bar {
    background: var(--light-blue);
    width: 80%;
    border-radius: 15px;
    color: var(--light-blue);
}

.first-container .logo img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.first-container .name {
    font-weight: 600;
    font-size: 13px;
    width: 30ch;
    line-height: 0px;
    word-spacing: 5px;
    text-align: start;
}

.second-container .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.second-container .admin-greeting p {
    font-size: 13px;
    font-weight: 600;
}

.second-container .btn a {
    text-decoration: none;
    color: var(--white);
    padding: 7px 25px;
    background: var(--deep-blue);
    border-radius: 18px;
    font-weight: 500;
}

.sidebar {
    background-color: var(--deep-blue);
    color: var(--white);
    padding: 1rem;
    grid-row: 1 / 10;
    grid-column: 1 / 1;
    display: grid;
    gap: 30px;
    grid-template-rows: 40px 1fr 2fr;
}

.sidebar .logo h2 img{
    width: 35px;
    height: auto;
}

.sidebar img {
    width: 20px;
    height: auto;
    margin-right: 15px;
}

.navigation-links , .support-links{
    display: grid;
    grid-template: repeat(6, 30px) / 1fr;
    align-items: center;
    padding: 0 1em;
}

.navigation-links li a, .support-links li a {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

#container {
    grid-column: 2 / 2;
    grid-row: 3 / 9;
    display: grid;
    grid-template-columns: 400px 200px;
    grid-template-rows: 60px repeat(3, 220px) 280px auto;
    background: var(--light-blue);
    justify-content: space-between;
}

#container .headers {
    width: 85%;
    grid-column: 1 / 5;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    grid-row: 1 / 1;
}

.headers h3 {
    height: 10px;
}

.headers h3:last-child {
    justify-self: flex-start;
}

.cards {
    grid-column: 1 / 1;
    grid-row-start: 2 / 2;
    display: grid;
    grid-template-columns: 320px 320px;
    grid-template-rows: repeat(3, 160px);
    gap: 15px;
    padding-left: 20px;
}


.cards .card {
    width: 320px;
    height: 160px;
    font-size: 13px;
    color:var(--light-gray);
    padding: 0.8rem;
    max-width: 72ch;
    border-left: 8px solid var(--yellow);
    border-radius: 16px;
    background-color: var(--white);
}

.card .content {
    margin-bottom: 18px;
}

.card .content h4 {
    font-size: 15px;
    color: var(--black);
}

.card .card-links {
    display: grid;
    grid-auto-flow: column;
    place-content: end;
    grid-template-columns: repeat(3, 30px);
}

.card-links li img {
    width: 20px;
}

.sidebar-1 {
    font-size: 8px;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background: var(--white);
    padding: 1.5rem;
    width: 280px;
    align-self: flex-start;
    display: grid;
    gap: 15px;
    border-radius: 5px;
}

.sidebar-1 div {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 7px;
}

.sidebar-1 div:last-child {
    border: none;
}

.sidebar-1 div h4 {
    font-size: 10px;
}

.sidebar-1 div p {
    max-width: 60ch;
}

.section-2 {
    grid-column: 3 / 4;
    grid-row: 3 / 3;
    font-size: 10px; 
     display: grid;
     grid-template-rows: auto;
     background: var(--white);
     margin-top: 100px;
     height: 190px;
}

.section-2 > div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 60px 100px;
    justify-content: center;
    padding: 0.1rem;
}
 .section-2 h2 {
    background-attachment: var(--light-blue);
    margin: -30px 0;
 }

.section-2 img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.section-2 > div > div h6{
    font-size: 12px;
}